* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 2rem;
  font-family: monospace;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.form_data_submission {
    background-color: antiquewhite;
    border-radius: 0.2rem;
    padding: 1.4rem;
}

.form_data_submission form {
  width: 20rem;
  padding: 0.2rem 0.3rem;
}

.form_data_submission label {
  font-size: 1.2rem;
  padding: 10px 0;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.form_data_submission input {
  margin: 0.7rem 0;
  width: 78%;
  border-radius: 0.3rem;
  height: 25px;
}

.form_data_submission select {
  margin-top: 12px;
  border: 2px solid black;
  border-radius: 5px;
}

.form_data_submission .btn {
  background-color: bisque;
  position: relative;
  top: 0;
  left: 30%;
  margin-top: 10px;
  width: 20%;
  border-radius: 7px;
}

.data_to_show{
    margin-left: 1rem;
}


table, th, td{
    border: 0.1rem solid black;
    border-radius:0.2rem ;
    padding: 10px 12px;
}
